{% extends 'basic.html' %}

{% load static %}

{% block body %}
<!-- feature with photo1 -->
	<section class="w3l-feature-with-photo-1">
		<div class="feature-with-photo-hny py-5">
			<div class="container py-lg-5">
				<div class="title-content mb-lg-5 mb-4">
					<span class="sub-title">The Story</span>
					<h3 class="hny-title"> About Us</h3>
				</div>
				<div class="feature-with-photo-content">
					<div class="ab-in-flow row mb-lg-5 mb-3">
						<div class="col-lg-6 ab-left">
							<img src="{% static 'img/12.jpg' %}" class="img-fluid" alt="">
						</div>
						<div class="col-lg-6 ab-right pl-lg-4">
							<h3 class="hny-title">
								Time to see the world
							</h3>
							<p class="my-4">Take time to see the world and taste the fullness of life , travel is like therapy.travel takes us out of
								our comfort zones and inspire us to see,taste and try new things.with travelling we can explore new surroundings,but
								also to engage with different people,to embrace adventures as they come and to share new and meaningful experiences
								with friends and loved ones.travel opens your heart , broadens your mind,and fills with stories to tell.through the
								travel we can admire mother nature,learn about other cultures,learn about new places,rituals and styles of living.</p>
							<p class="mb-4"></p>
						</div>
					</div>
					<div class="three-grids d-grid grid-columns-3 mt-lg-5">
						<div class="grid">
							<h3 class="hny-title">What we Do ?.</h3>
						</div>
						<div class="grid">
							<h4><a href="#">Diverse Destinations</a></h4>
							<p>diverse destination means different type of places.our company is try to make your journey more
							wonderful and amazing. we provide wide range of destinations.like we provide desert destination,beach resort,
							summeer vacation destination,honeymoon destination,historic places,natural area,mountain areas,forest,winter sports destination.</p>
						</div>
						<div class="grid">
							<h4><a href="#">Great Hotels</a></h4>
							<p>here we provide user required , comfortable and resonable hotels.in hotel should have most
							comfortable rooms and should be equipped with the necessary items.it is comfortable for traveler
								to be enjoyable and very convenient.user also can see the reviews of past travelers that helpful
								to choose appropriate hotels.</p>
						</div>
						<div class="grid">
							<h4><a href="#">Fast Booking</a></h4>
							<p>fast booking offers direct used to use website and reservation in few minutes. it's no longer time taking.
							here we using internet user can easily book any choice of tourism package.it's advantage is saving of time.
								you can book your package anytime anywhere.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //feature with photo1 -->
	<section class="w3l-content-4">
		<!-- /content-6-section -->
		<div class="content-4-main py-5">
			<div class="container py-lg-5">
				<div class="content-info-in row">
					<div class="content-left col-lg-6 text-lg-right pr-lg-3">
						<h3 class="hny-title">
							Why Choose Us</h3>
						<p></p>
						<img src="{% static 'img/13.jpg' %}" class="img-fluid mt-3" alt="">
					</div>
					<div class="content-right col-lg-6 pl-lg-4">
						<div class="row content4-right-grids mb-lg-5 mb-4">
							<div class="col-md-2 content4-right-icon">
								<div class="content4-icon">
									<span class="fa fa-thumbs-o-up"></span>
								</div>
							</div>
							<div class="col-md-10 content4-right-info">
								<h6><a href="#">Packages</a></h6>
								<p></p>
							</div>

						</div>
						<div class="row content4-right-grids mb-lg-5 mb-4">
							<div class="col-md-2 content4-right-icon">
								<div class="content4-icon">
									<span class="fa fa-tags"></span>
								</div>
							</div>
							<div class="col-md-10 content4-right-info">
								<h6><a href="#">Specials</a></h6>
								<p></p>
							</div>

						</div>
						<div class="row content4-right-grids mb-lg-5 mb-4">
							<div class="col-md-2 content4-right-icon">
								<div class="content4-icon">
									<span class="fa fa-suitcase"></span>
								</div>
							</div>
							<div class="col-md-10 content4-right-info">
								<h6><a href="#">Retreats</a></h6>
								<p></p>
							</div>

						</div>
					</div>

				</div>

			</div>
		</div>
	</section>
	<!-- //content-6-section -->
	<!--w3l-faq-6 -->
	
{% endblock %}