{% extends 'basic.html' %}
{% load static %}

{% block css %}
<style>
	h5{
		font-size: 15px;
		margin: 0;
		display: inline;
	}
	p{
		display: inline;
	}
</style>
{% endblock %}

{% block body %}
	
	<div class="modal fade" id="book">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            	<div class="modal-header">
                	<h4 class="modal-title">Enter Your Detail {{request.user.first_name}} :)</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                	<form action="/booking/{{p.p_id}}/" method="POST" enctype="multipart/form-data">
                    	{% csrf_token %}
                        <div class="form-group">
                        	<label>Address :</label>
                        	<input type="text" class="form-control" name="uaddress" placeholder="Your Address" required> 
                        </div>
                        <div class="form-group">
                        	<label>Contact :</label>
                        	<input type="number" class="form-control" name="ucontact" placeholder="Your Contact Number" required> 
                        </div>
                        <div class="form-group">
                        	<label>Boarding Point :</label>
                        	<input type="text" class="form-control" name="uboarding" placeholder="Your prefered boarding point" required> 
                        </div>
                        <div class="form-group">
                        	<label>Starting on Date :</label>
                        	<input type="Date" id="d" class="form-control" name="udate" required> 
                        </div>
                        <div class="form-group">
                        	<label>Travellers :</label>
                        	<input type="number" class="form-control" name="utraveller" placeholder="How many person?" required> 
                        </div>
                        <div class="form-group">
                        	<label>Travellers-Room Wise</label>
                        	<input type="text" class="form-control" name="uroom" placeholder="@eg: 2Adults in 1Room" required> 
                        </div>
                        <button type="submit" class="btn btn-info">Place Booking</button>
                    </form>                                                
                </div>
            </div>
        </div>
    </div>
{% if user.is_authenticated %}
    <section class="w3l-destinations-1">
        <div class="destionation-innf py-5">
            <div class="container py-lg-5">
            	<div class="title-content mb-5">
                    <span class="sub-title">Book Your</span>
                    <h3 class="hny-title mb-0">Package</h3>
                    <p>You are now free to move about the Places.</p>
                </div>
				<div class="row package-grids mt-5">
					<div class="col-md-8 posts-w3ls mt-md-0 mt-4">
						<h2 class="text-danger"><u>{{p.p_title}}</u></h2>
						<p>The {{p.p_package}} Package</p><br>
						<h5 class="mt-2">Price :</h5> <p><i class="fas fa-rupee-sign mr-2 text-danger">{{p.p_price_per_person}} /- Per Person</i></p><br>
						<h5 class="mt-2">Package_Days :</h5> <p>{{p.p_package_days}}</p><br>
						<h5 class="mt-2">Travelling Through :</h5> <p>{{p.p_travel_through}}</p><br>
						<h5 class="mt-2">Provider Name :</h5> <p>{{p.p_provider_name}}</p><br>
						<h5 class="mt-2">Provider Phone :</h5> <p>{{p.p_phone}}</p><br>
						<h5 class="mt-2">Provider Address :</h5> <p>{{p.p_provider_address}}</p><br>
						<h5 class="mt-2">Description :</h5> <p>{{p.p_full_package_description}}</p><br>
						<br>
						<button data-toggle="modal" data-target="#book" type="submit"  class="btn btn-info">
	                    	BOOK <i class="fa fa-lock" aria-hidden="true"></i>
	                    </button>
						<p class="text-primary">NOTE : You can book our Package on call also <output>{{p.p_phone}}</output></p>
					</div>
					<div class="col-md-4 posts-w3ls mt-md-0 mt-4">
						<div class="price-top">
							<p>{{p.p_package}}:</p>
							<img src="{{p.p_package_image.url}}" class="img-fluid" style="height: 40vh;" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% else %}
<h1 class="text-danger">You are not logged in...</h1>
{% endif %}
{% endblock %}