{% extends 'basic.html' %}

{% load static %}

{% block body %}
	<section class="w3l-bottom-grids-6">
		<div class="bottom-grids-info py-5">
			<div class="container py-lg-5">
				<div class="row bottomnhy-grids">
					<div class="col-lg-3 col-md-6 about-gd mt-lg-0 mt-3">
						<div class="about-gd-inn">
							<span class="fa fa-globe icon-fea1" aria-hidden="true"></span>
							<h5><a href="about.html">Voyages & Cruises</a></h5>
							<p></p>

						</div>
					</div>
					<div class="col-lg-3 col-md-6 about-gd mt-lg-0 mt-3">
						<div class="about-gd-inn">
							<span class="fa fa-hotel icon-fea1" aria-hidden="true"></span>
							<h5><a href="about.html">Hotel Bookings</a></h5>
							<p></p>

						</div>
					</div>
					<div class="col-lg-3 col-md-6 about-gd mt-lg-0 mt-3">
						<div class="about-gd-inn">
							<span class="fa fa-plane icon-fea1" aria-hidden="true"></span>
							<h5><a href="about.html">Air Tickets</a></h5>
							<p></p>

						</div>
					</div>
					<div class="col-lg-3 col-md-6 about-gd mt-lg-0 mt-3">
						<div class="about-gd-inn">
							<span class="fa fa-file-text-o icon-fea1" aria-hidden="true"></span>
							<h5><a href="about.html">Visas</a></h5>
							<p></p>

						</div>
					</div>
					<div class="col-lg-3 col-md-6 about-gd mt-lg-0 mt-3">
						<div class="about-gd-inn">
							<span class="fa fa-globe icon-fea1" aria-hidden="true"></span>
							<h5><a href="about.html">Voyages & Cruises</a></h5>
							<p></p>

						</div>
					</div>
					<div class="col-lg-3 col-md-6 about-gd mt-lg-0 mt-3">
						<div class="about-gd-inn">
							<span class="fa fa-hotel icon-fea1" aria-hidden="true"></span>
							<h5><a href="about.html">Hotel Bookings</a></h5>
							<p></p>

						</div>
					</div>
					<div class="col-lg-3 col-md-6 about-gd mt-lg-0 mt-3">
						<div class="about-gd-inn">
							<span class="fa fa-plane icon-fea1" aria-hidden="true"></span>
							<h5><a href="about.html">Air Tickets</a></h5>
							<p></p>

						</div>
					</div>
					<div class="col-lg-3 col-md-6 about-gd mt-lg-0 mt-3">
						<div class="about-gd-inn">
							<span class="fa fa-file-text-o icon-fea1" aria-hidden="true"></span>
							<h5><a href="about.html">Visas</a></h5>
							<p></p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}